* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #27292a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

.corletras1 {
  color: #c1c1c2;
  border-radius: 10px;
}

.titulos1 {
  color: #fcff5c;
}

/*definido a foto do perfil redonda */
.imagemperfil {
  border-radius: 50%;
}

/*a ultima imagem foi def. 100% da pag, altura max de 450px e distância de cima 100px */
.imagemfinal {
  height: 450px;
  padding-top: 100px;
}

/*alinhar o h1 no centro com espaçamento entre o topo é embaixo*/
.h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
